<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="JominyPredict.Properties.Settings.SADBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SADB.mdb"
            providerName="System.Data.OleDb" />-->
        <!--<add name="JominyPredict.Properties.Settings.jominyDBConnectionString"-->
      <add name="JominyPredict.Properties.Settings.jominyDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\jominyDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>